<div class="navbar">
  <div class="blob">
    <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/green_blob_vvhgnr.svg"
     alt=""
     class="menu-image-blob"
     loading="eager">
  </div>

  <div class="logo">
    <%= link_to "root_path", class: "#" do %>
      <span class="logo-image"><i class="fas fa-film"></i></span>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div class="menu sandwich lg">

  </div>
  <div class="menu--toggle hello">
    <nav>
      <ul>
        <li><%= link_to "Profile", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Chat", "#", class: "dropdown-item" %></li>
        <li><%= link_to "My Movies", "#", class: "dropdown-item" %></li>
        <li><%= link_to "My Lists", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </nav>
  </div>
  <% else %>
    <%# Laptop menu Sign In %>

    <div class="menu lg">
      <nav>
        <ul class="list-inline">
          <li class="list-inline-item">Movies</li>
          <li class="list-inline-item">Blog</li>
          <li class="list-inline-item"><%= link_to "Sign In", new_user_session_path, class: "list-inline-login lg" %></li>
        </ul>
      </nav>
    </div>

    <%# Laptop menu Sign In %>

    <%# Mobile menu Sign In %>
    <div class="menu mb">
      <div class="menu sandwich mb">
      </div>
      <div class="menu--toggle">
        <nav>
          <ul>
            <li>Movies</li>
            <li>Blog</li>
            <li><%= link_to "Sign In", new_user_session_path, class: "list-inline-login mb" %></li>
          </ul>
        </nav>
      </div>

    </div>

    <%# Mobile menu Sign In %>

  <% end %>


</div>
